/.idea/*
*.pyc
*.csv
/Datasets/house_prices_regrssion/.ipynb_checkpoints/prepare_data_for_tree_debugging-checkpoint.ipynb
/Datasets/house_prices_regrssion/data/data_description.txt
/Datasets/boston_house_prices/.ipynb_checkpoints/boston_house_prices_data_preparation-checkpoint.ipynb
/experiments/.ipynb_checkpoints/Interaction-checkpoint.ipynb
/experiments/Interaction.ipynb
/Tree/Verify/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/Tree/Verify/Untitled.ipynb
*.pkl
/catboost_info/*
*checkpoints*
/experiments/interaction/.ipynb_checkpoints/*
/experiments/interaction/catboost_info/*
/experiments/interaction/old/*
/experiments/detect_uninformative_feature_simulated_data/catboost_info/*
/experiments/detect_uninformative_feature_simulated_data/old/*
*.ipynb_checkpoints*
/experiments/detect_uninformative_feature_boston_house_prices/.ipynb_checkpoints/detect_uninformative_feature_main-checkpoint.py
/experiments/detect_uninformative_feature_simulated_data/.ipynb_checkpoints/detect_uninformative_feature_simulated_data-checkpoint.py
/experiments/interaction/.ipynb_checkpoints/plot_results-checkpoint.ipynb
